{
  "presets": ["@babel/env"],
  "plugins": ["@babel/plugin-transform-runtime", "react-hot-loader/babel"],
  "env": {
    "development": {
      "presets": ["@babel/preset-react"]
    },
    "test": {
      "presets": ["@babel/preset-react"],
    }
  },
}
